 html,body{
    margin:0;
    padding:0;
}
.navbar{

    background-color: transparent;
}



.image-earth{
    width:75vh;
}
.title-text{
    font-size: 3.2rem;
}

.float-child {
    width: 50%;
    float: left;
    
} 
.title-txt{
    margin-top: 8%;
    margin-left:10%;
    margin-right:10px;
}

@media screen and (max-width: 1000px){
    .image{
        display:none;
    }
    .page1 .page2 .page3{
        max-width: 100%;
    }
    .title-txt{
        margin:0 0 0 0;
    }
}